<h1> The details for article with <u>ID = <%= @art.id %></u> are as follows: </h1>
<p>
<strong><u>TITLE </u></strong>: <%= @art.title %>
</p>
<p>
<strong><u>DESCRIPTION</u></strong>: <%= @art.description %>
</p>
<%= link_to 'Show all articles', articles_path %> | <%= link_to 'Home page', root_path %>
